force-app/main/default/flows/Loan_Application_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Pdf_Report</name>
        <label>Pdf Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GenerateFinancialReportAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>applicationIds</name>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateFinancialReportAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_Records_to_the_Asset_Collection</name>
        <label>Adding Records to the Asset Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAssetsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Records_to_the_Insert_Collections</name>
        <label>Adding Records to the Insert Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colIncomesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Incomes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Incomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Records_to_the_Liability_Collection</name>
        <label>Adding Records to the Liability Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colLiabilitiesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Liability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset</name>
        <label>Assign Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Assets.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Assets.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Records_to_the_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Income</name>
        <label>Assign Income</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Incomes.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Incomes.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Records_to_the_Insert_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Liability</name>
        <label>Assign Liability</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Liability.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Liability.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Records_to_the_Liability_Collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Application_purpose_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmApplicationURL</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot; &amp; {!varApplicationId}</expression>
    </formulas>
    <interviewLabel>Loan Application Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Loan Application Flow</label>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Asset_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Incomes</name>
        <label>Loop Incomes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colIncomes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Income</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Income_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Liability</name>
        <label>Loop Liability</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colLiabilities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Liability</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Liability_Collections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Financials</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Amount_Requested__c</field>
            <value>
                <elementReference>Loan_Amount_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <elementReference>Term_Months</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Asset_Collections</name>
        <label>Insert Asset Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Liability</targetReference>
        </connector>
        <inputReference>colAssetsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Income_Collections</name>
        <label>Insert Income Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <inputReference>colIncomesToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Liability_Collections</name>
        <label>Insert Liability Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_File_Upload</targetReference>
        </connector>
        <inputReference>colLiabilitiesToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Application_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_Application_Details</name>
        <label>Apply for Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Account_Data.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loan_Amount_Requested</name>
            <dataType>Currency</dataType>
            <fieldText>Loan Amount Requested</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Term_Months</name>
            <dataType>Number</dataType>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Purpose</name>
            <choiceReferences>Application_purpose_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_File_Upload</name>
        <label>Screen - File Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload your Signature</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Financials</name>
        <label>Apply for Loan - Step 2: Financial Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Incomes</targetReference>
        </connector>
        <fields>
            <name>dynamicFinancialForm</name>
            <extensionName>c:dynamicFinancialsForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colAssets</assignToReference>
                <name>assetRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colIncomes</assignToReference>
                <name>incomeRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colLiabilities</assignToReference>
                <name>liabilityRecords</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_Application</name>
        <label>Success Screen Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pdf_Report</targetReference>
        </connector>
        <fields>
            <name>Success_message_application</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Application Created &lt;/strong&gt;&lt;strong style=&quot;color: rgb(20, 124, 0);&quot;&gt;Successfully&lt;/strong&gt;&lt;strong&gt;!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;If its not Redirecing to the newly created application - &lt;/em&gt;&lt;a href=&quot;{!frmApplicationURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here!&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>colAssetsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>colIncomes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income__c</objectType>
    </variables>
    <variables>
        <name>colIncomesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Income__c</objectType>
    </variables>
    <variables>
        <name>colLiabilities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <name>colLiabilitiesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
